/* Used throughtout app */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: 2px 3px 3px gray;
}

.inline {
  display: inline;
}

.hidden {
  visibility: hidden;
}

.outline {
  outline: none;
}

.button  {
  margin-left: .75em;
}

.error {
  font-size: .75em;
  color: red;
  padding: 0;
  margin:  0;
}

/* For login and Register  */

.section {
  margin-top: 18vh;
  margin-left: 40vw;
  height: 65vh;
  width: 17vw;
  background-color: white;
  border: 1px solid black;
}

.container {
  padding-top: 1vh;
  margin: 1vh 3.25vw;;
}

.input {
  margin-top: 1vh; 
  margin-bottom: 1vh;
  width: 10vw;
}

.error-box {
  border: 1px solid red;
}

.button {
  height: 3vh;
  width: 10.4vw;
  margin-left: 0;
  background-color: blue;
  color: white;
}


/* For login */

.login-section {
  height: 25vh;
  margin-top: 30vh;
  margin-left: 41vw;
}

.login-container {
  padding-left: .50vw;
}

h2 {
  margin-left: 4.8vw;
}

.legal {
  margin-left: 45vw;
  padding-top: 1vh;
  color: white;
}

.legal-text {
  font-size: .25em;
  padding-right: 4em;
}

.box {
 margin-left: -.25vw;;
}

.field {
  padding: .5em;
}

/* For Register */

.createUser {
  margin-top: 2vh;
  margin-left: .33vw;
}

.label {
  font-size: 1vw;
}

/* Nav */

.nav-h2 {
  margin: .5vw .5vw 6vh 1vw; /* margin: 2vw 3vw to have it inline with the Your Work h2 */
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-left: 6vw;
}

.link {
  margin-bottom: 2.5vh;
}

/* Home */

.aside {
  display: grid;
  grid-template-columns:  18vw 1fr;
  height: 100vh;
  background-color: blue;
}

.content {
  background-color: white;

}

/* Issues */
#centered-toggle-button {
  outline: none;
}

/* ProfileIcon */

.profile {
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh; /*remove later */
  margin-right: 3vw; /*remove later */
}

.profile-icon {
  position: absolute;
  top: 2vh;
  height: 6.5vh;
  width: 3.5vw;
  border-radius: 10vw;
  border: 2px solid black;
}

/* Settings */

.image {
  width: 200px;
}
